table .levelSSS {
  color: #A6F;
}
table .levelSS {
  color: #E81;
}
table .levelS {
  color: #FA2;
}
table .levelA {
  color: #F0A;
}
table .levelB {
  color: #A66;
}
table .levelC {
  color: #38F;
}
