<view-wardrobe wardrobe="wardrobe" category="category">
</view-wardrobe>
<div class="col-md-6">
  <select name="levelSelect" id="levelSelect" ng-model="data.category" class="form-control">
    <option ng-repeat="(k,v) in view.category" value="{{k}}">{{v}}</option>
  </select>
  <textarea ng-model="view.append" class="form-control" style="min-height:500px" placeholder='使用以下格式:001,4,07,1023'></textarea>
  <button ng-click="appendClick()" class="form-control">新增</button>
</div>
<div class="col-md-6">
  <textarea ng-model="view.syn" class="form-control" style="min-height:500px;" placeholder='使用以下格式:{"发型":["001","004"],"连衣裙":["007","008"]}'></textarea>
  <button ng-click="synClick()" class="form-control">同步</button>
</div>
