<div class="col-md-6">
  <h3>关卡</h3>  
  <div class="input-group">
    <select ng-model="lvlname" ng-change="onLevelChange(lvlname)" class="form-control">
      <option value="">-----请选择关卡-----</option>
      <option ng-repeat="(key,value) in data.availableLevels" value="{{key}}">{{key}}</option>
    </select>
  </div>
  
  <h3>属性</h3>  
  <div>
    <div class="input-group" ng-repeat="name in data.names">
      <label class="input-group-addon">
        <input type="radio" ng-model="data.viewPN[$index]" data-ng-value="1"/>
        {{name[0]}}
      </label>
      <label class="input-group-addon">
        <input type="radio" ng-model="data.viewPN[$index]" data-ng-value="-1"/>
        {{name[1]}}
      </label>
      <input type="text" class="form-control" ng-model="data.viewValue[$index]" placeholder="权重" />
    </div>
  </div>

  <h3>奖励</h3>
  <div class="form-group">
    <div class="form-inline" ng-repeat=" i in [0,1] ">
      <input type="text" placeholder="标签" class="form-control" ng-model="data.bonus[i].tag" />
      <select ng-model="data.bonus[i].base" class="form-control">
        <option value="SS">SS</option>
        <option value="S">S</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
      <input type="text" placeholder="权重" class="form-control" ng-model="data.bonus[i].weight"/>
    </div>
  </div>

</div>
<div class="col-md-6">
  <dressup-result weight="data.availableLevels[lvlname]" bonus="data.bonus"></dressup-result>
</div>
<div class="col-md-12">
  <dressup-all resultall="resultall"></dressup-all>
</div>
